<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>设置权限</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<form class="layui-form" action="" lay-filter="example">
    <form class="layui-form" action="" lay-filter="example">
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <label class="layui-form-label">[[${role.roleName}]]</label>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限:</label>
            <div class="layui-input-block">
                <input th:each="per:${perList}" type="checkbox" name="pers" th:text="${per.perName}"
                       th:value="${per.perId}" id="perId">
                <input type="hidden" name="rolePer" th:each="rolePer:${rolePerList}" th:value="${rolePer.pid}"
                       id="userRoleId">
            </div>
        </div>

        <input type="hidden" name="roleId" th:value="${role.roleId}" value="${role.roleId}">

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>

        <input type="hidden" th:value="${role.roleId}" name="roleId">
    </form>
</form>

<script src="/static/layui/layui.all.js" charset="utf-8"></script>
<script src="/static/jquery-3.3.1.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'upload'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
        //下拉框事件
        form.on('select(ht)', function (data) {
            console.log(data.value); //得到被选中的值

        });


        //监听提交
        form.on('submit(demo1)', function (data) {
            JSON.stringify(data.field);
            console.log(data.field);
            var pers = window.document.getElementsByName("pers");
            var str = "";
            for (var i = 0; i < pers.length; i++) {
                if (pers[i].checked) {
                    str = str + pers[i].value + ",";
                }
            }
            str.substr(0, str.length - 1);
            console.log("str:" + str);
            $.ajax({
                type: "post"
                , url: "/rolePer/update.do"
                , data: {
                    roleId: data.field.roleId
                    , "str": str
                }
                , success: function (flag) {
                    if (flag == "1") {
                        //关闭层
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                }
            });
            return false;//不跳转页面
        });

        /**
         * 让复选框选中
         * @type {NodeListOf<HTMLElement>}
         */
        var rolePer = window.document.getElementsByName("rolePer");
        var per = window.document.getElementsByName("pers");
        if (null != per && per.length > 0) {
            for (var i = 0; i < per.length; i++) {
                for (var j = 0; j < rolePer.length; j++) {
                    if (rolePer[j].value == per[i].value) {
                        per[i].checked = true;
                    }
                }
            }
        }
        form.render('checkbox');
    });
</script>

</body>
</html>